.login-container {
  max-width: 400px;
  margin: 100px auto auto;
  margin: 50px auto auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-heading {
  text-align: center;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-login {
  width: 100%;
  background-color: #359F8C;
  color: white;
}

.logo-style{
  font-family: Showcard Gothic Normal, Showcard Gothic; 
}
