<!-- En-tête de la page -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Participants</h1>
</div>

<!-- Contenu principal de la page -->
<div class="col-lg-12">
  <div class="row tab-content">
    <div
      id="list-view"
      class="tab-pane fade active show col-lg-12"
      role="tabpanel"
    >
      <div class="card">

        <div class="card-header" style="background-color: #fff">

          <div class="d-flex justify-content-between">
            <h4 class="card-title">Liste des participants</h4>
            <a href="dashboard/clients/insert" class="btn btn-primary"
              >Ajouter</a
            >
          </div>

          <p class="my-3">
            <!-- Liens de filtre -->
            <a
              (click)="showParticular()"
              class="link-offset-2 mx-5 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showPart }">Particuliers</span>
            </a>

            <a
              (click)="showEntreprise()"
              class="link-offset-2 mx-5 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showCmp }">Entreprises</span>
            </a>
            
            <a
              (click)="showEmploye()"
              class="link-offset-2 mx-5 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showEmp }">Employeés</span>
            </a>
          </p>
          
        </div>

        <!-- Corps de la carte -->
        <div class="card-body">
          <div class="row mb-3">

            <!-- Formulaire de filtre -->
            <div class="col-md-3 d-flex">
              <form style="width: 100%" [formGroup]="filterForm">
                <div class="d-flex align-items-baseline">
                  <label for="entries" class="form-label me-2">Nombre</label>
                  <select
                    formControlName="filter"
                    class="form-select-sm"
                    id="entries"
                  >
                    <option value="5">5</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </form>
            </div>

            <div class="col-md-5">&nbsp;</div>

            <!-- Champ de recherche -->
            <div class="col-md-4">
              <div [ngClass]="searchVisibility?'search active mb-3':'search mb-3'" >
                <form [formGroup]="searchForm">
                <input [ngClass]="searchVisibility?'input':'hidden'" (input)="searchBy()" type="search" placeholder="Intitulé..." formControlName="keyWord">
                </form>
                <button (click)="changeSearchVisibility()" class="search-btn">
                  <i class="fa fa-search text-light"></i>
                </button>
              </div>
            </div>

          </div>

          <!-- Tableau de liste des participants -->
          <div class="table-responsive">

            <!-- Particuliers -->
            <table *ngIf="showPart" class="table">
              <thead>
                <tr>
                  <th scope="col" class="head-title">Nom</th>
                  <th scope="col" class="head-title">Prénom</th>
                  <th scope="col" class="head-title">Metier</th>
                  <th scope="col" class="head-title">Sexe</th>
                  <th scope="col" class="head-title">Date création</th>
                  <th scope="col" class="head-title">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Lignes de données pour les particuliers -->
                <tr
                  *ngFor="let firstparticular of particulars | paginate: {
                  itemsPerPage: filterForm.value.filter,
                  currentPage: page,
                  };"
                >
                  <td>{{ firstparticular.firstname }}</td>
                  <td>{{ firstparticular.lastname }}</td>
                  <td>{{ firstparticular.activity }}</td>
                  <td>{{ firstparticular.gender }}</td>
                  <td>
                    {{ firstparticular.creationDate | date : "dd-MM-yyyy" }}
                  </td>
                  <td>
                    <!-- Actions pour les particuliers -->
                    <span
                      class="text-success"
                      (click)="goToEditPart(firstparticular.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil colored"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteClients(firstparticular.id, 'particulier')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Employés -->
            <table *ngIf="showEmp" class="table">
              <thead>
                <tr>
                  <th scope="col" class="head-title">Nom</th>
                  <th scope="col" class="head-title">Prénom</th>
                  <th scope="col" class="head-title">Téléphone</th>
                  <th scope="col" class="head-title">Sexe</th>
                  <th scope="col" class="head-title">Date création</th>
                  <th scope="col" class="head-title">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Lignes de données pour les employés -->
                <tr
                  *ngFor="let empl of employees | paginate: {
                  itemsPerPage: filterForm.value.filter,
                  currentPage: page,
                  };"
                >
                  <td>{{ empl.firstname }}</td>
                  <td>{{ empl.lastname }}</td>
                  <td>{{ empl.phone }}</td>
                  <td>{{ empl.gender }}</td>
                  <td>{{ empl.creationDate | date : "dd-MM-yyyy" }}</td>
                  <td>
                    <!-- Actions pour les employés -->
                    <span
                      class="text-success"
                      (click)="goToEditClt(empl.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil colored"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteClients(empl.id, 'employe')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Entreprises -->
            <table *ngIf="showCmp" class="table">
              <thead>
                <tr>
                  <th scope="col" class="head-title">Nom</th>
                  <th scope="col" class="head-title">Activity</th>
                  <th scope="col" class="head-title">Date création</th>
                  <th scope="col" class="head-title">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Lignes de données pour les entreprises -->
                <tr
                  *ngFor="let firstcompany of companies | paginate: {
                  itemsPerPage: filterForm.value.filter,
                  currentPage: page,
                  };"
                >
                  <td>{{ firstcompany.name }}</td>
                  <td>{{ firstcompany.activity }}</td>
                  <td>{{ firstcompany.creationDate | date : "dd-MM-yyyy" }}</td>
                  <td>
                    <!-- Actions pour les entreprises -->
                    <span
                      class="text-success"
                      (click)="goToEditCpy(firstcompany.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil colored"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteClients(firstcompany.id, 'company')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <!-- Informations de pagination -->
          <div class="row mt-3">
            <div class="col-md-6">
              <p class="m-0">
                Affichage de {{ filterForm.value.filter }} entrées sur
                {{
                  showPart
                    ? particulars.length
                    : showEmp
                    ? employees.length
                    : companies.length
                }}
              </p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 text-end">
              <!-- Contrôles de pagination -->
              <pagination-controls
                (pageChange)="handlePageChange($event)"
                (pageBoundsCorrection)="handlePageChange($event)"
                previousLabel="Précédent"
                nextLabel="Suivant"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="Vous êtes à la page"
              ></pagination-controls>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
