
.welcome-message{
    color: #359F8C;
}

.logo-style{
    font-family: Showcard Gothic Normal, Showcard Gothic; 
    font-weight: 400; 
    font-size: 40px;
}

.btn-more{
    border: none;
    box-shadow: 1px 1px 3px black;
    background-color: white;
    
    font-size: 15px;
}
.head-title{
    background-color: #359F8C;
    padding: 15px;
    color: white;
  }
